# 📚 Frameworks e Bibliotecas Python (EDA e Ciência de Dados)

## Fundamentais
pandas
numpy
scipy

## Visualização Estática e Estatística
matplotlib
seaborn
statsmodels

## Visualização Interativa
plotly
cufflinks
altair
bokeh
folium

## Machine Learning
scikit-learn
tensorflow
keras
pytorch